@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*плавная прокрутка*/
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: black;
}

header,
section,
footer {
	max-width: 1600px;
	margin: 0 auto;
}


@font-face {
	font-family: Roboto;
}

main {
	display: white;
}

button {
	width: 298px;
	height: 54px;
	color: white;
	background-color: orange;
	border: none;
	text-transform: uppercase;
}

button:hover {
	background: white;
	color: orange;
	border: 1px orange solid;
}

button a {
	text-decoration: none;
	color: white;
}

button a:hover {
	color: orange;
}

.buttoncer {
	border-radius: 5px;
}



/*header*/
header {
	background-color: black;
	z-index: 3;
	position: relative;
}

.nav {
	height: 80px;
	display: flex;
	flex-direction: row;
	list-style-type: none;

}

.nav ul {
	padding: 0;
	margin: 0;
}

.nav li {
	margin: 29px;
	align-self: center;
}

.nav a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 16px;
	margin: 29px;
	white-space: nowrap;
}

.nav a:hover {
	color: orange;
}

/*about check*/
.ch a {
	color: orange;
}

.ch a:hover {
	color: rgba(255, 166, 0, 0.434);
}

/*logo hover*/
.logo img:hover {
	background: orange;
}

/*section one*/


/*section one*/
.one {
	height: 390px;
	background: no-repeat url("../../assets/images/panda_bg.png");

}

/*two*/
.two {
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
		linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	padding: 20px auto 180;
}

.two-first {
	width: 1160px;
	margin: 0 auto;
}


.two-info {
	color: white;
	font-family: 'Roboto';
	font-style: normal;

}

.two-info h3 {
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	padding-top: 40px;
}

.two-info p {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}

.two-h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: #FE9013;
}


.panda-donat {
	background: rgba(255, 255, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 40px 92px 62px;
	height: 964px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.panda-donat h2 {
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	color: #FE9013;
}

.panda-donat p {
	font-size: 24px;

	color: #333B41;
}

.img-panda {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
	font-style: normal;
	text-align: center;
}

.x {
	margin-right: 64px;
	margin-left: 11px;
}

.nam {
	padding-top: 40px;
}

.nam p {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #333B41;
}

.nomber {
	font-weight: 500;
	font-size: 72px;
	line-height: 80%;
	text-transform: uppercase;
}

/*scadule*/
.fon-scadule {
	background: #404950;
	border-radius: 2px;
}

.scadule,
.sums {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.scadule {
	height: 40px;
	padding: 7px 30px;
}

.sums {
	margin-top: 10px;
}

.point {
	height: 10px;
	width: 10px;
	background-color: #FFEE2E;
	border-radius: 50%;
}








.logo-img {
	width: 37px;
	height: 37px;
	margin-right: 10px;
}


/*footer*/
footer {
	background-color: #111115;
}

.container-footer {
	padding: 40px 220px 50px 220px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.block-one {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.log {
	margin-bottom: 68px;
}

.bt {
	margin-bottom: 48px;
}

.main-nav {
	display: flex;
	justify-content: end;
	flex-direction: column;
	padding-left: 30px;
}

.block-third {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*social*/
.it-social {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
}

.it-social a {
	display: flex;
	flex-direction: row;
	padding: 5px;
	text-decoration: none;

}

.it-social a div {
	margin: 5px;
}

.social-point {
	height: 26px;
	width: 26px;
	border-radius: 50%;
	border: none;
	background: rgba(196, 196, 196, 0.5);
	display: grid;
	justify-content: center;
	align-items: center;
}

.social-point:hover {
	background: orange;
}

.sc-point-tw {
	color: white;
}

.sc-point-tw:hover {
	color: orange;
}



/*nav footer*/
.main-nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-nav li {
	margin: 0 29px;
}

.main-nav a {
	text-decoration: none;
	color: #fff;
	white-space: nowrap;
}

.main-nav a:hover {
	color: orange;
}

/*form*/

label {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #FFFFFF;
}

.in-em {
	height: 42px;
	width: 228px;
	color: #FFFFFF;
	border: 1px sold orange;
	background: #111115;
	padding: 5px;

	box-sizing: border-box;

}

.in-sb {
	width: 129px;
	height: 42px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #4B9200;

}

.rss {
	grid-area: 6/8 7/9;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	padding-left: 120px;
}

.rss p {
	margin: 0;
}