@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*плавная прокрутка*/
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: black;
}

header,
section,
footer {
	max-width: 1600px;
	margin: 0 auto;
}


@font-face {
	font-family: Roboto;
}

main {
	display: block;
}

button {
	width: 298px;
	height: 54px;
	color: white;
	background-color: orange;
	border: none;
	text-transform: uppercase;
}

button:hover {
	background: white;
	color: orange;
	border: 1px orange solid;
}

.buttoncer {
	border-radius: 5px;
}



/*header*/
header {
	background-color: black;
	z-index: 3;
	position: relative;
}

.nav {
	height: 80px;
	display: flex;
	flex-direction: row;
	list-style-type: none;

}

.nav ul {
	padding: 0;
	margin: 0;
}

.nav li {
	margin: 29px;
	align-self: center;
}

.nav a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 16px;
	margin: 29px;
}

.nav a:hover {
	color: orange;
}

/*about check*/
.ch a {
	color: orange;
}

.ch a:hover {
	color: rgba(255, 166, 0, 0.434);
}

/*logo hover*/
.logo img:hover {
	background: orange;
}

/*section one*/


/*section one*/
.main-one {
	height: 780px;
	background-color: azure;
	background: no-repeat url("../../assets/images/GPanda.png");
	margin-top: -80px;
}

.main-one img {
	height: 465px;
}

.main-one div {
	position: absolute;
	width: 465px;
	height: 465px;
	left: calc(50% - 465px/2 + 239.5px);
	top: 102px;
	border-radius: 50%;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.main-one h1 {
	position: absolute;
	width: 500px;
	height: 400px;
	left: calc(50% - 500.31px/2 + 330.15px);
	top: 166px;

	font-style: normal;
	font-weight: 700;
	font-size: 106.496px;
	line-height: 75%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

.main-one span {
	color: #FFEE2E;
}

.main-one button {
	position: absolute;
	left: calc(50% - 298px/2 + 332px);
	top: 640px;
}

/*second main*/
.main-second {
	height: 630px;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: row;
}

.main-second-inside {

	margin-left: 214px;
	display: flex;
	flex-direction: row;
	padding-top: 140px;
	color: #333B41;
}

.text-secod-main {
	width: 465px;
}

.main-second-inside img {
	margin-right: 87px;
	height: 403px;
}

.flowers-second-main {
	margin-left: 15px;
}

.main-second-inside h2 {
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	margin: 0;
}

.second-pargraph {
	font-size: 24px;
	margin-top: 54px;
	margin-bottom: 34px;
}

/*section third*/
.main-third {
	padding-top: 106px;
	background-color: white;
}

.main-third-f {
	display: grid;
	grid-template-columns: 220px 1fr 220px;
}

.gallery {
	width: 1158px;
	height: 872px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px
}

.item-gallery {
	width: 366px;
	height: 426px;
}

.item-gallery img:hover {
	filter: brightness(50%);
	width: 376px;
}

.item-gallery:hover {
	font-weight: 800;
}

.btn-circle {
	width: 62px;
	height: 62px;
	background-color: orange;
	color: white;
	border-radius: 50%;
	border: none;
}

.left {
	margin-left: 138px;
	margin-top: 400px;
}

.right {
	margin-top: 400px;
}

.mini-item {
	display: grid;
	grid-template-columns: 6fr 1fr;
	padding: 5px;
}

.item-text p {
	margin: 0;
}

.caps-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-transform: uppercase;
}

.btn-third {
	margin: 80px 651px 100px;
}

.flow-third-one {
	position: absolute;
	top: 2213px;
}

.flow-third-two {
	margin-top: -390px;
	margin-left: 1231px;
}

/*fours main*/
.main-fourth {
	padding-top: 69px;
	background: linear-gradient(315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#FEBDAB 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%),
		linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%,
			#E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
		linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%,
			#E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

	height: 1004px;
}

.main-fourth-inside {
	background: rgba(253, 253, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	width: 1160px;
	height: 835px;
	margin-left: 220px;
	padding: 41px 0 59px 99px;

}

.main-fourth-inside h2 {
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	color: #FE9013;
}

.main-fourth-inside p {
	margin: 0;
	font-family: 'Roboto';
	font-style: normal;
	color: #333B41;
}

.main-fourth-inside>p:nth-child(2) {
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	margin-top: 30px;
	margin-bottom: 40px;

}

.main-fourth-inside>p:nth-child(3) {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
}

.main-fourth-inside>p:nth-child(4) {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	margin-top: 10px;
	margin-bottom: 24px;
}

.main-fourth-inside h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: #333B41;
	margin-bottom: 40px;
	text-align: center;
}

.block-howwokk {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 70px;
}

.block-howwokk>div {
	height: 244px;
	width: 168px;
	display: flex;
	flex-direction: column;
}

.block-howwokk>div>p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #333B41;
	justify-content: center;
}

.box-mini {
	border: 1px solid orange;
	background-color: white;
	height: 168px;
	width: 168px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 15px;
}

.btnf {
	margin-left: 431px;
}


/*main five*/
.main-five {
	background-color: white;
	margin-top: -17px;
	padding-bottom: 200px;
}

.block-five {
	width: 1160px;
	height: 575px;
	margin: 0 auto;
	padding-top: 140px;
}

.block-five>h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	text-align: center;
	color: #333B41;
}

.block-five button {
	margin-top: 20px;
}

.block-main-five {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-bottom: 20px;
}

.item-main-five {
	width: 268px;
	height: 391px;
	background: #F1F3F2;
	border-radius: 20px;
}

.five-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 15px;
	padding-left: 15px;
	margin-bottom: 11px;
}

.logo-img {
	width: 37px;
	height: 37px;
	margin-right: 10px;
}

.nik-name p {
	margin: 0;
}

.text-description {
	width: 237px;
	height: 309px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #767474;
	overflow: hidden;
	padding-left: 15px;
}

.bog-container {
	background-color: white;
	width: 599px;
	height: 8px;
	border-radius: 25px;
	margin: 0 auto;
	border: 1px solid orange;
}

.bg-cl-container {
	height: 8px;
	background-color: orange;
	width: 70px;
}

.list {
	position: relative;
	width: 300.92px;
	height: 295.45px;
	z-index: 15;
	background: url(../../assets/images/leav_foto.png);
	margin-top: -139px;
	margin-left: 1133px;
}

/*footer*/
footer {
	background-color: #111115;
}

.container-footer {
	padding: 40px 220px 50px 220px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.block-one {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.log {
	margin-bottom: 68px;
}

.bt {
	margin-bottom: 48px;
}

.main-nav {
	display: flex;
	justify-content: end;
	flex-direction: column;
	padding-left: 30px;
}

.block-third {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*social*/
.it-social {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
}

.it-social a {
	display: flex;
	flex-direction: row;
	padding: 5px;
	text-decoration: none;

}

.it-social a div {
	margin: 5px;
}

.social-point {
	height: 26px;
	width: 26px;
	border-radius: 50%;
	border: none;
	background: rgba(196, 196, 196, 0.5);
	display: grid;
	justify-content: center;
	align-items: center;
}

.social-point:hover {
	background: orange;
}

.sc-point-tw {
	color: white;
}

.sc-point-tw:hover {
	color: orange;
}



/*nav footer*/
.main-nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-nav li {
	margin: 0 29px;
}

.main-nav a {
	text-decoration: none;
	color: #fff;
}

.main-nav a:hover {
	color: orange;
}

/*form*/

label {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #FFFFFF;
}

.in-em {
	height: 42px;
	width: 228px;
	color: #FFFFFF;
	border: 1px sold orange;
	background: #111115;
	padding: 5px;

	box-sizing: border-box;

}

.in-sb {
	width: 129px;
	height: 42px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #4B9200;

}

.rss {
	grid-area: 6/8 7/9;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	padding-left: 120px;
}

.rss p {
	margin: 0;
}